
.navbarf  {
display: flex;
align-items: center;
width: 100%;
justify-content: center;
margin: 15px 0 15px;
background-color: rgba(234, 250, 241, 0.43);
color: RGB(46, 139, 87);
   }

   .nav-linkf {
     margin-top: 40px;
     margin-left: 20px;
     flex-wrap: wrap;
   }

   h3 {
     color: RGB(46, 139, 87);
     flex-wrap: wrap;
   }
