a , p, label, input {
  color: RGB(46, 139, 87);
}


h2 {justify-content: center;
  display: flex;
  text-align: center;
margin-bottom: 50px;
font-size: 40px;}

	.formulario {
  margin-left: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  font-size: 10px;
  }

.item {
display: flex;
text-align: center;
flex-direction: column;
}

  input{
    margin-top: 5px;
    margin-bottom: 15px;
  }

  label{
    font-weight: bold;
  }

.ingresar {
    background-color: RGB(46, 139, 87);
    font-weight: bold;
    padding: 7px;
    margin: 15px;
    color: white;
    width: 100px;
  }

  .Recordarme{
      align-items: center;
  }

  .Boton{
  	background-color: RGB(46, 139, 87);
  	font-weight: bold;
  	padding: 7px;
  	margin-top: 10px;
  	margin-bottom: 20px;
  	color: white;
  	}

  	h4 {
  	    border:solid 5px orange;
  	    display:flex;
  	    justify-content: center;
  	    padding: 5px;
  	    margin: 0 auto;
  	    color: #db0080;
  	    font-size: 30px;
  }



        @media (min-width:768px) {
          *{
            font-size: 16px;
          }
  }

        @media (min-width:1200px) {
          *{
            font-size: 18px;
          }
  }
