@import "https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Open+Sans|Ubuntu&display=swap";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Montserrat', 'Noto Sans', 'Ubuntu', sans-serif;
}

body {
      background-image: url("../img/rectangular1.jpg");
      display: flex;
}

	.contenedor {
		margin:0 auto;
		display: flex;
		max-width: 1200px;
	}

	.formulario, .mail, .pass {
  display: flex;
	 color: RGB(46, 139, 87);
    justify-content: center;
	}

		.cabecera {
		  width: 100%;
		  display: inline-flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction:row;
		  flex-wrap: wrap;
		  margin-top: 15px;
		  color: RGB(46, 139, 87);
			background-color: rgba(234, 250, 241, 0.43);

		        }

	.nav-login {
	display: inline-flex;
	width: 100%;
	justify-content: flex-end;
	text-align: center;
	margin-top: 15px;
	padding: 25px;
					}

	.nav-login ul li:hover{
	color: RGB(233, 247, 239);
	background-color: rgb(125, 206, 160);
	text-decoration: none;
					}

	.nav-login ul {
	display: inline-flex;
		}

	.nav-login ul li a, .main-nav ul li a{
	font-size:14px;
	}

	.nav-login ul li{
	justify-content: center;
	margin-right: 10px;
	border-radius: 10%;
		 }

	.main-nav ul li {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: center;
		}

		.main-nav ul li a:hover{
	background-color: rgb(125, 206, 160);
	text-decoration: none;
  color: RGB(233, 247, 239);
			}

.formulario, .mail, .pass {
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  margin-left: 40px;
   }

h1{
  font-size: 24px;
  text-align: center;
  margin-right: 100px;
	color: RGB(46, 139, 87);
}

input{
  margin-top: 5px;
  margin-bottom: 20px;
}

.uno{
  width: 70%;
}

label{
  font-weight: bold;
}

.pais, .genero{
  font-size: 20px;
}

.registro{
	background-color: rgb(0, 209, 255);
	font-weight: bold;
}

.cancelar{
	background-color: red;
	color: white;
	}

.Recordarme{
    align-items: center;
}

.Boton{
	background-color: RGB(46, 139, 87);
	font-weight: bold;
	padding: 7px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: white;
	}

	h4 {
	    border:solid 5px orange;
	    display:flex;
	    justify-content: center;
	    padding: 5px;
	    margin: 0 auto;
	    color: #db0080;
	    font-size: 30px;
}

	@media (min-width: 768px) {
		.contenedor {
			max-width: 80%;
						}
	}

	@media (min-width: 1024px) {
		.contenedor {
			max-width: 80%;
						}
	}
