.panel-group {
  width: 100%;
  color: RGB(46, 139, 87);
  flex-direction: column;
  justify-content:space-around;
  }

  .panel-body {
    color: rgb(14, 102, 85);
    margin-left: 30px;
  }

  .panel-heading {
  padding: 40px;}

          @media (min-width:768px) {

    }

          @media (min-width:1200px) {

    }
