.panel-group {
  display: flex;
  width: 100%;
  color: RGB(46, 139, 87);
  flex-direction: column;
  justify-content:space-around;
  flex-wrap: nowrap;
  }

  .unaPregunta {
text-decoration: none;
color: RGB(88, 214, 141);
}

.panel-title, h3, h5, p {
  color: RGB(46, 139, 87);}

  h3 {
    margin: 30px 0 30px;}
